.navbar {
	background-color: #6a0bbd; 
}
.container {
	position: relative;
}
.navbar-brand {
	font-family: 'Yellowtail', cursive;
	color: white !important;
	font-weight: bolder;
	font-size: 27px !important;
}
.collapse {
	color: white !important;
}
.bg-1 {
	background-color: #6a0bbd;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
.display-4 {
	position: absolute;
	font-family: 'Courgette', cursive;
	font-weight: bolder;
	color: #b50d6f;
	font-style: italic;
	text-shadow: 2px 2px rgba(120, 30, 82 1);
	left: 50%;
	transform: translate(-50%);
	margin-top: 12vh;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 100%;
	padding-left: 3%;
}
.btn-get {
	position: absolute;
	background-color: #260085;
	border-radius: 100px;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	border: solid 1px #260085;
	margin-top: 75vh;
	left: 50%;
	transform: translate(-50%);
	width: 70%;
	transition: 0.5s;
}
.get-date {
	position: absolute;
	color: #b50d6f;
	margin-top: 82vh;
	left: 50%;
	transform: translate(-50%);
	font-weight: lighter;
	font-style: italic;
	font-family: 'Courgette', cursive;
	font-size: 15px;
	width: 100%;
	text-align: center;
}
.btn-get:hover {
	margin-top: 73vh;
	box-shadow: 10px 10px rgba(0,0,0, 0.4);
	background-color: #4200e8;
	color: #b50d6f;
}
.sepatu-1 {
	width: 50vh;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translate( -50%);
	animation: sepatu1 2s ease infinite alternate;
	z-index: 1;
	overflow: hidden;
	display: flex;
}
@keyframes sepatu1 {
	0% {
		margin-top: 20vh;
	}
	100% {
		margin-top: 15vh;
	}
}
.promotion-text {
	position: absolute;
	margin-top: 61vh;
	width: 90%;
	text-align: right;
	font-weight: bolder;
	z-index: 2
}
.promotion-text h5 {
	font-weight: bolder;
	color: white;
	font-size: 13px;
	margin-right: 3%;
}
.modal-content {
	text-align: center !important;
	background-color: #6a0bbd;
	color: white;
}
.form-control {
	border-radius: 100px;
	color: white;
}
.btn-primary {
	background-color: #260085;
	border-radius: 100px;
	color: white;
}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.bg-1 {
		background-color: #6a0bbd;
		height: 100vh;
		width: 50%;
		background-size: cover;
	}
	.display-4 {
		position: absolute;
		font-family: 'Courgette', cursive;
		font-weight: bolder;
		color: #b50d6f;
		font-style: italic;
		text-shadow: 2px 2px rgba(120, 30, 82 1);
		margin-left: 13%;
		margin-top: 8%;
		font-size: 55px;
	}
	.btn-get {
		position: absolute;
		background-color: #260085;
		border-radius: 100px;
		color: white;
		text-transform: uppercase;
		font-weight: bolder;
		border: solid 1px #260085;
		margin-top: 35%;
		margin-left: 25%;
		transition: 0.5s;
		left: unset;
		transform: unset;
		width: unset;
	}
	.get-date {
		position: absolute;
		color: #b50d6f;
		margin-top: 41%;
		font-weight: lighter;
		font-style: italic;
		font-family: 'Courgette', cursive;
		font-size: 25px;
		margin-left: -4%;
		text-align: center;
	}
	.btn-get:hover {
		margin-top: 33%;
		box-shadow: 10px 10px rgba(0,0,0, 0.4);
		background-color: #4200e8;
		color: #b50d6f;
	}
	.sepatu-1 {
		width: 80%;
		height: auto;
		position: absolute;
		margin-left: 55%;
		margin-top: -3%;
		animation: sepatu1 2s ease infinite alternate;
	}
	@keyframes sepatu1 {
		0% {
			margin-top: -7%;
		}
		100% {
			margin-top: -1%;
		}
	}
	.promotion-text {
		position: absolute;
		margin-left: 80%;
		margin-top: 60%;
		width: 100%;
		text-align: right;
		font-weight: bolder;
	}
	.promotion-text h5 {
		font-weight: bolder;
		color: #b50d6f;
		font-size: 18px;
	}
	.nav-link {
		color: #b50d6f !important;
		margin-right: unset;
	}
	.navbar {
		background-color: unset;
	}
}